/* docs/stylesheets/extra.css */

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=EB+Garamond:wght@400;700&display=swap');

:root {
    --md-primary-fg-color: #1d0031;  /* Roxo-escuro quase negro */
    --md-accent-fg-color: #1d0031;
    --md-default-fg-color: #1d0031;
    --md-code-bg-color: #f8f8f8;  /* Fundo claro para blocos de código */
}

/* Fonte personalizada para títulos */
h1, h2, h3, h4, h5, h6 {
    font-family: 'IM Fell English SC', serif;
    font-weight: bold;
    color: var(--md-primary-fg-color);
}

/* Fonte para o corpo do texto */
body, .md-typeset {
    font-family: 'EB Garamond', serif;
    font-size: 1.2em;
    line-height: 1.8;
    color: var(--md-default-fg-color);
    background-color: #ffffff;
}

/* Dark Mode básico */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #0b010c;
        color: #4d282849;
    }
}
